<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Onion Price Predictor</h1>
    
    <h2>Time series of forecasted purchase price of onions for the next 12 months (Bangalore Market):</h2>
    <img src="https://github.com/vidishsirdesai/projects_public/blob/main/onion_price_predictor/artifacts/bangalore_local_model_forecast.png" width="1280" height="360">

    <h2>Forecasted purchase price of onions for the next 12 months (Bangalore Market):</h2>
    <table>
        <tr>
            <th>date</th>
            <th>forecasted_purchase_price</th>
        </tr>
        <tr>
            <td>2024-08-01</td>
            <td>2891.016702</td>
        </tr>
        <tr>
            <td>2024-09-01</td>
            <td>1823.976515</td>
        </tr>
        <tr>
            <td>2024-10-01</td>
            <td>1884.983288</td>
        </tr>
        <tr>
            <td>2024-11-01</td>
            <td>2114.721268</td>
        </tr>
        <tr>
            <td>2024-12-01</td>
            <td>2304.703993</td>
        </tr>
        <tr>
            <td>2025-01-01</td>
            <td>1136.547997</td>
        </tr>
        <tr>
            <td>2025-02-01</td>
            <td>1067.285830</td>
        </tr>
        <tr>
            <td>2025-03-01</td>
            <td>1148.121995</td>
        </tr>
        <tr>
            <td>2025-04-01</td>
            <td>1451.718951</td>
        </tr>
        <tr>
            <td>2025-05-01</td>
            <td>1560.129996</td>
        </tr>
        <tr>
            <td>2025-06-01</td>
            <td>1906.907879</td>
        </tr>
        <tr>
            <td>2025-07-01</td>
            <td>1995.992050</td>
        </tr>
    </table>

</body>
</html>
